<footer class="footer-area bg-gray-2 pt-75">
    <div class="custom-container">
        <div class="footer-top pb-30">
            <div class="row">
                <div class="col-width-33 custom-common-column">
                    <div class="footer-widget footer-about-2 mb-40">
                        <div class="footer-logo logo-width-1">
                            <a asp-action="index" asp-controller="home"><img src="~/images/logo/logo.png" alt="logo"></a>
                        </div>
                        <div class="footer-contact-info">
                            <p><span>+234-7065-851-674</span></p>
                            <p>
                                No 1, Adenekan street, Abeokuta, Nigeria
                            </p>
                            <p>support@epinmart.com</p>
                        </div>
                        <div class="footer-social-icon tooltip-style-4">
                            <a aria-label="Twitter" target="_blank" class="twitter" href="https://twitter.com/epinmart"><i class="link-icon fab fa-twitter"></i></a>
                            <a aria-label="Facebook" target="_blank" class="facebook" href="https://web.facebook.com/epinmart1/"><i class="fab fa-facebook-f"></i></a>
                            <a aria-label="LinkedIn" target="_blank" class="linkedin" href="https://www.linkedin.com/company/13037029/"><i class="fab fa-linkedin"></i></a>
                            <a aria-label="Instagram" target="_blank" class="instagram" href="https://instagram.com/epinmarthq/"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-width-16 custom-common-column">
                    <div class="footer-widget mb-40">
                        <h3 class="footer-title">Customer Service</h3>
                        <div class="footer-info-list">
                            <ul>
                                <li><a asp-action="login" asp-controller="account"> My Account </a></li>
                                <li><a asp-action="products" asp-controller="home"> Products</a></li>
                                <li><a asp-action="faq" asp-controller="home"> Shopping FAQs </a></li>
                                <li><a asp-action="contact" asp-controller="home"> Contact Us </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-width-16 custom-common-column">
                    <div class="footer-widget mb-40">
                        <h3 class="footer-title">Our Company</h3>
                        <div class="footer-info-list">
                            <ul>
                                <li><a asp-action="about" asp-controller="home"> About Us</a></li>
                                <li><a href="terms-of-service.html"> Terms of Service </a></li>
                                <li><a href="privacy-policy.html"> Privacy Policy</a></li>
                                <li><a href="http://www.medium.com/@@epinmart"> Our Blogs</a></li> 
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-width-33 custom-common-column">
                    <div class="footer-widget mb-40">
                        <h3 class="footer-title">Sign Up for Our Newsletter</h3>
                        <div class="subscribe-wrap">
                            <p>Leave your email to get all hot deals & news which benefit you most!</p>
                            <div id="mc_embed_signup" class="subscribe-form">
                                <form id="mc-embedded-subscribe-form" class="validate subscribe-form-style" novalidate="" target="_blank" name="mc-embedded-subscribe-form" method="post" action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                                    <div id="mc_embed_signup_scroll" class="mc-form">
                                        <input class="email" type="email" required="" placeholder="Your e-mail" name="EMAIL" value="">
                                        <div class="mc-news" aria-hidden="true">
                                            <input type="text" value="" tabindex="-1" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                                        </div>
                                        <div class="clear">
                                            <input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe" value="Subscribe">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom border-top-1">
            <div class="row flex-row-reverse align-items-center">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="payment-img-wrap">
                        <span>We accept:</span>
                        <div class="payment-img-2">
                            <img src="~/assets/images/icon-img/payment-method-2.png" alt="">
                            <img src="~/assets/images/icon-img/payment-method-4.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="copyright copyright-center">
                        <p>Copyright © @DateTime.Now.Year ePinMart | <a target="_blank" href="mailto:yusfate81@yahoo.com">Built by <span>YuscomSoft Limited</span></a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>