
<div class="header-top header-top-ptb-1 border-bottom-1 d-none d-lg-block">
    <div class="custom-container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="covid-update">
                    @*<p><a href="#">ePinMart</a> We are eager to hear from you.</p>*@
                </div>
            </div>
            <div class="col-lg-6">
                <div class="header-info header-info-right">
                    <ul>
                        <li><a target="_blank" href="https://www.google.com/maps"><i class="fas fa-map-marker-alt"></i> Store location</a></li>
                        <li><a href="tel:+2347065851674"><i class="info-icon fas fa-phone"></i> (+234) - 7065 - 851 - 674</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
